body{
  padding-bottom: 50px;
}

.main-container{
  margin-top: 20px;
}

.img-logo{
    width: 120px;
}

nav{
  margin-bottom: 70px !important;
}

nav{
  background-color: rgb(95, 8, 8) !important;
  
}

h1{
  margin-top: 60px !important;
}

/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(95, 8, 8);
  color:#fff;
  text-align: center;
  
}